/* Estilos para el toast */

/* Éxito */
.vue-toastification__toast--success {
  background-color: #28a745 !important;
}

/* Error */
.vue-toastification__toast--error {
  background-color: #dc3545 !important;
}

/* Estilo general para TODOS los toast */
.mi-toast-custom {
  font-size: 1.1rem;       /* Letra más grande */
  font-weight: bold;       /* Negrita */
  text-align: center;      /* Texto centrado */
}
